@import 'mixins';

$height-button: 36px;
$border-radius: 20px;

/* Custom button design */
button {
  border-radius: $border-radius;
  align-self: stretch;
  text-align: center;
  justify-content: center;
  align-items: center;

  height: $height-button;
  padding: 0 $spacing-L;
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  transition: .3s;
  overflow: hidden;
  margin: 0 $spacing-S 0 $spacing-S;

  // blue color
  &.primary {
    background-color: $blue-light;
    color: $white;
    border: 1px solid $blue-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      background-color: $white;
      border: 1px solid $blue-light;
      color: $blue-light;
      box-sizing: border-box;
    }
    &.loading {
      background-color: $white;
      border: 1px solid $blue-light;
    }

    &.disabled {
      color: $white;
      background-color: $grey-silver;
      border: 1px solid $grey-silver;
      cursor: not-allowed;
    }
  }
}


/* Angular material design button */

button.mat-raised-button {
  border-radius: $border-radius;
}
