@import '../../../assets/scss/mixins';

.view-authenticate {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-card {
    &-title {
      padding: $spacing-M 0;
    }
    &-field {
      padding: $spacing-LXS 0;
    }
    &-fieldEnd{
      padding-bottom: $spacing-M;
    }
  }
}
